body {

  width: 1060px;
  margin: 0 auto;
  font-family: 'WavvePADO-Regular';
}

@media (max-width: 768px) {
  body {
    width: 412px;
    margin: 0 auto;
    font-family: 'WavvePADO-Regular';
  }
}

@font-face {
  font-family: 'WavvePADO-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.top-nav {

  padding: 64px;
  padding-bottom:0px;
  display: flex;
  justify-content: space-between;

}

@media (max-width: 768px) {
  .top-nav {
    padding: 20px 10px;
  }
}

.top-nav h2 {
  font-size: 30px;
  font-weight: 600;
}

.hi {
  display: flex;
  flex-wrap: wrap;
  align-items: center;  
  gap: 48px;
}

.hi ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 48px;

}

button {
  padding: 12px 24px;
  border: 1px solid black;
  border-radius: 100px;
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
  outline: none;
  transition: all 0.3s ease;
}

.mobile-button {
  display: none;
}

@media (max-width: 768px) {
  .hi {
    display: none;
  }

  .mobile-button {
    padding: 12px 24px;
    display: flex;
    justify-content: space-between;
  }
  .mobile-button img {
    align-self: center;
    padding: 6px 12px;
  }
}

.login-button {
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.signup-button {
  background-color: #000;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


/* ------- 헤더 -----  */

header {
  padding-top: 112px;
  padding-bottom: 112px;
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}


.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 48px;
}

header img {
  width: 550px;
  height: 550px;
  display: flex;
  justify-content: row;
  margin-bottom:122px;
}

header h1 {
  color: black;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;
  /* 120.69% */
  letter-spacing: -1px;
}

.claim-button {
  background-color: #000;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


header h1 span {
  /* 글씨에 그라데이션 주는 효과 */
  background: linear-gradient(120deg, #13b0f5 -2.06%, #e35ef7 100%);
  background-clip: text;
  color: transparent;
  /* 글자 색을 투명하게 */
}

@media (max-width: 768px) {
  header {
    padding: 64px 20px 64px 20px;
    /* padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 20px; */
    flex-direction: column;
    gap: 40px;
  }
  .header-text {
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 0px;
  }
  header img {
    width: 350px;
    height: 320px;
    align-self: center;
    margin: 0px;
  }
  header h1 {
    margin: 0px;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    padding-bottom: 24px;
  }
  header p {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: center;
  }
  .claim-button {
    margin-top: 40px;
    margin-right: 0px;
  }
}

/* ------- TRUSTED BY LEADING COMPANIES 섹션----- */

.Trust {
  width: 1440px;
  padding-bottom: 80px;
}

.Trust-text h2 {
  color: #42446e;
  text-align: center;
  font-size: 18px;
  padding-bottom: 24px;
}

.Trust-img {

  display: flex;
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 112px;
  padding-bottom:80px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

.Trust-img img {

  align-items: center;
  width: 140px;
  height: auto;
  object-fit: contain;
}

.Trust-img li {
  text-align: center;
}

@media (max-width: 768px) {
  .Trust {
    width: 412px;
  }
  .Trust-text h2 {
    margin: 0px;
    padding-top: 48px;
    color: #42446e;
    padding-bottom: 24px;
    font-size: 12px;
    font-weight: 100;
    line-height: 150%;
    letter-spacing: 0%;
  }
  .Trust-img {
    margin: 0px;
    height: 35px;
    margin-left: 20px;
    padding-bottom: 48px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
  }
}

/* ------- Choose cowork----- */

#choose-cowork {
  margin-top: 112px;
  margin-bottom: 80px;
}

.cowork-text h1 {

  color: black;
  text-align: center;
  font-size: 58px;
  padding-bottom: 24px;
}

.cowork-text h1 img {
  width: 180px;
  margin-right: 16px;
}

.cowork-text br {
  display: none;
}

.cowork-text-mobile {
  display: none;
}

.cowork-img {
  margin-left: 64px;
  margin-right: 64px;
  margin-top: 80px;
  display: flex;
  gap: 48px;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 112px;
  align-items: center;
  list-style-type: none;
  padding-left: 0;

}

.cowork-img pre {
  font-family: 'SDSamliphopangche_Outline';;
  font-size: 12px;
  text-align: center;
  margin-bottom:112px;
}

.cowork-img p {
  
  font-size: 18px;
  font-weight: bold;
}

.cowork-img img {
  width: 36px;
  height: 36px;


}

.cowork-img li {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;

}

@media (max-width: 768px) {
  #choose-cowork {
    margin: 0px;
    padding-top: 64px;
  }
  .cowork-text {
    display: none;
  }
  .cowork-text-mobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
  }
  
  .cowork-text-mobile h1 {
    display: flex;
    margin: 0px;
    height: 33px;
    font-size: 24px;
    letter-spacing: 0%;
    align-items: center;
  }
  .cowork-text-mobile h1 img {
    width: 120px;
    height: 34px;
    margin-right: 0px;
    margin: 0px 8px;
  }
  .cowork-img {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
    margin-bottom: 64px;
    gap: 32px;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    list-style-type: none;
  }
  .cowork-img pre {
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
  }
  .cowork-img p {
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 140%;
  }
  .cowork-img img {
    margin-bottom: 8px;
  }
}

/* ------- Explore Cowork ----- */

#Explore-cowork {
  margin-top: 112px;
  margin-bottom: 80px;
  display: flex;
  /* flexbox 사용 */
  justify-content: center;
  /* 가로 중앙 정렬 */
  align-items: center;/
}

.explore-button {
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 24px auto;
}


.explore-text p {
  color: #403f3f;
  text-align: center;
  font-size: 10px;
  margin-bottom: 0px;
}

.explore-text h1 {
  margin-top: 0px;
  color: black;
  text-align: center;
  font-size: 58px;
  padding-bottom: 8px;
}

.explore-text h1 img {
  width: 180px;
  margin-right: 16px;
}

.explore-image img {
  margin-top: 80px;
  margin-left: 64px;
  margin-right: 64px;
  margin-bottom: 112px;
  padding-bottom:112px;
  display: flex;
  justify-content: center;
  width: 932px;
  height: auto;
}

.explore-text-mobile {
  display: none;
}

.explore-p {
  display: none;
}

@media (max-width: 768px) {
  #Explore-cowork {
    margin-top: 64px;
    margin-bottom: 64px;
    display: flex;
    /* flexbox 사용 */
    flex-direction: column;
    justify-content: center;
    /* 가로 중앙 정렬 */
    align-items: center;
  }
  .explore-text {
    display: none;
  }
  .explore-p {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
    font-size: 12px;
    font-weight: 100;
    line-height: 150%;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
  }
  .explore-text-mobile {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .explore-text-mobile h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    margin: 0px;
  }
  .explore-text-mobile p {
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;
  }
  .explore-lens {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  .explore-lens img {
    height: 33px;
  }
  .explore-button {
    display: flex;
    margin: 16px auto;
    margin-bottom: 0px;
  }
  .explore-image {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .explore-image img {
    margin: 0px;
    max-width: 100%;
    height: auto;
    padding-bottom: 64px;
  }
}


/* ------- cowork in numbers ----- */

#cowork-numbers {
  display: flex;
  justify-content: space-between;
}

#cowork-numbers img {
  width: 450px;
  height: 450px;
  margin-bottom: 112px;
  margin-left:64px;
  margin-right:64px;
}

.numbers {
  margin-left: 64px;
  margin-right: 64px;
}

.numbers h1 {
  margin-top: 40px;
  font-size: 48px;
  margin-bottom: 0px;
  font-weight: bold;
}

.numbers li {
  display: flex;
  gap: 100px;
  flex-direction: row;
}
.numbers li p {
  display: flex;
  gap: 24px;
  flex-direction: row;
}
.numbers ul{
  padding-left:0;
}
.cowork-hi{
  display:flex;
  justify-content: flex-start;
  flex-direction: column;
}

@media (max-width: 768px) {
  #cowork-numbers {
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
  }
  .numbers {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 64px;
  }
  .numbers p {
    margin: 0 auto;
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 100;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .numbers h1 {
    margin-top: 16px;
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    text-align: center;
  }
  .numbers li {
    gap: 32px;
    justify-content: center;
    margin-bottom: 24px;
  }
  .numbers li p {
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: left;
  }
  .cowork-hi h1 {
    margin: 0px;
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }
  #cowork-numbers img {
    margin: 16px auto 64px;
    max-width: 100%;
    height: auto;
  }
}

/* ------- client ----- */

#COWORK-IN-WORDS {
  margin-bottom: 112px;
}

.word-text p {
  margin-top: 112px;
  font-size: 10px;
  display: flex;
  justify-content: center;
}

.word-text h2 {
  margin-top: 0px;
  font-size: 58px;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.cowork-words-mobile {
  display: none;
}

.client {
  margin-right:64px;
  margin-left:64px;
  margin-bottom: 112px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  /* 요소 간의 간격을 설정합니다 */
  justify-content: center;
  /* 가운데 정렬 */
  align-items: flex-start;
  /* 상단 정렬 */
}

.project-item {

  border-radius: 8px;
  /* 모서리 둥글게 */
  padding: 16px;
  /* 내부 패딩 */
  width: calc(33.333% - 24px);
  /* 3개의 항목이 한 줄에 들어가도록 너비 설정 */
  box-sizing: border-box;
  /* 패딩과 보더가 너비에 포함되도록 */
}


.project-content {
  margin-top: 8px;
}

.project-content img {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 56px;
  /* 이미지를 컨텐츠 너비에 맞춤 */
  height: auto;
  /* 이미지 높이 자동 조정 */

}

.project-content p {
  padding-top: 24px;
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.project-content .name {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: -30px;
}

.project-content .job {
  font-size: 0.9em;
  /* 직업 설명은 작게 */
}

.project-link img {
  width: 24px;
  /* 링크 이미지 너비 */
  height: auto;
  /* 링크 이미지 높이 */
}

.project-link div {
  display: inline;
  /* 인라인으로 표시 */
  margin-left: 8px;
  /* 이미지와의 간격 */
}

.client-mobile {
  display: none;
}

@media (max-width: 768px) {
  #COWORK-IN-WORDS {
    padding: 64px 20px 64px 20px;
    margin: 0px;
  }
  .word-text p {
    margin-top: 64px;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 100;
    line-height: 150%;
    text-align: center;
  }
  .word-text h2 {
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
  .cowork-words-mobile {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    margin-bottom: 8px;
    margin-right: 10px;
  }
  .cowork-words-mobile img {
    width: 24px;
    height: 20px;
    padding: 6px 4px;
  }
  .client {
    display: none;
  }
  .client-mobile {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  .project-item {
    border-radius: 24px;
    padding: 32px;
    width: 360px;
  }
  .project-content {
    margin-top: 0px;
    box-sizing: border-box;
    /* 패딩과 보더가 너비에 포함되도록 */
  }
  .project-content img {
    margin-bottom: 24px;
    width: 56px;
  }
  .project-content p {
    margin: 0px;
    margin-bottom: 24px;
    padding: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: left;
  }
  .project-content .name {
    margin: 0px;
    font-size: 12px;
    font-weight: 100;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: center;
  }
  .project-content .job {
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: center;
  }
}

/* ------- Frequently asked questions ----- */

#Frequently {
  margin-top: 122px;
  margin-left:64px;
  margin-right:64px;
  display: flex;
  justify-content: space-between;
}

.fre-text .wrap {
  font-size: 10px;
  color: #666;

}

.fre-text h1 {
  font-size: 36px;
}

@media (max-width: 768px) {
  #Frequently {
    margin: 0px;
    padding: 64px 20px 64px 20px;
    flex-direction: column;
  }
  .fre-text .wrap {
    margin: 0px;
    margin-bottom: 16px;
    text-align: center;
  }
  .fre-text h1 {
    margin: 0px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
  .fre-text p {
    margin: 0px;
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: center;
  }
  .questions p {
    font-size: 14px;
    font-weight: 100;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    margin: 0px;
    padding: 20px 0px;
  }
  .questions hr {
    margin: 0px;
  }
  .first-question {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .questions .answer {
    padding: 0px;
    padding-bottom: 20px;
  }
}

/* ------- Seize ----- */

.seize-text {
  margin-top: 112px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.seize-text h1 {
  font-size: 76px;
}

.seize-text p {
  margin-top: -24px;
  margin-bottom: 40px;
}

.seize-text h1 img {
  width: 240px;
}

.seize-text-mobile {
  display: none;
}

#seize button {

  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: #000;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 112px;
}

@media (max-width: 768px) {
  #seize {
    padding: 64px 20px;
  }
  .seize-text {
    display: none;
  }
  .seize-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seize-mobile div {
    display: flex;
    justify-content: center;
    gap: 16px;
  }
  .seize-mobile h1 {
    margin: 0px;
    font-size: 48px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }
  .seize-mobile img {
    width: 160px;
    height: 58px;
  }
  .seize-mobile p {
    margin-top: 24px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: 0%;
    text-align: center;
  }
  .seize-mobile-h1 {
    height: 58px;
  }
  #seize button {
    margin: 40px auto;
    margin-bottom: 0px;
  }
}


/* ------- insights ----- */
#insights {
  padding: 112px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insights-upper {
  display: flex;
  padding-bottom: 80px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.insights-upper p {
  margin: 0px;
  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 100;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.insights-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.insights-big {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.insights-big div {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.insights-big p {
  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

.insights-big img {
  border-radius: 48px;
  background: url(),url();
}

.insights-long {
  height: 51px;
  padding-top: 24px;
  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0%;
  text-align: center;
}

@media (max-width: 768px) {
  #insights {
    padding: 64px 20px;
  }
  .insights-upper {
    margin-bottom: 40px;
    padding-bottom: 0px;
    gap: 0px;
  }
  .insights-upper p {
    margin-bottom: 16px;
  }
  .insights-text {
    gap: 24px;
  }
  .insights-text p {
    padding-top: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
  }
  .insights-big {
    gap: 0px;
  }
  .insights-big div {
    height: 33px;
    gap: 8px;
  }
  .insights-big p {
    height: 33px;
    font-size: 24px;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
  .insights-big img {
    max-height: 100%;
    border-radius: 48px;
    background: url(),url();
  }
}

/* insights-bottom */
.insights-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insights-items {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.insights-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.article-img {
  border-radius: 24px;
  background: url();
}

.article-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-head p {
  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  margin: 0px;
}

.article-class {
  display: flex;
  padding: 0px;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.article-class .p1 {
  height: 21px;
  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 100;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  padding: 4px 8px 4px 8px;
  margin: 0px;

  border-radius: 8px;
}

.first {
  background: rgb(166, 232, 246);
}

.second {
  background: rgb(252, 190, 220);
}

.third {
  background: rgb(211, 249, 133);
}

.article-class .p2 {
  height: 26px;
  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 14px;  
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0%;
  text-align: left;
  margin: 0px;
}

.read-more {
  display: flex;
  gap: 8px;
  align-items: center;
}

.read-more p {
  height: 21px; 
  margin: 0px;
  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.read-more img {
  width: 24px;
  height: 24px;
}

.insights-bottom button {
  margin-top: 64px;
}

@media (max-width: 768px) {
  .insights-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .insights-items {
    flex-direction: column;
    justify-content: flex-start;
    gap: 32px;
  }  
  .article-img {
    max-width: 100%;
  }
  .insights-bottom button {
    margin-top: 24px;
    margin-right: 0px;
  }
}

/* ---- footer ---- */
footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  padding: 64px;
}

/* footer-upper */
.footer-upper {
  padding: 48px;
  display: flex;
  justify-content: space-between;
  border-radius: 48px;          /* 모서리 둥글게 */
  background: rgb(29, 30, 28);/* 배경은 검정색 */
  color: rgb(255, 255, 255);  /* 글자색 지정 */
}

.footer-cowork {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32;
}

.footer-cowork h1 {
  margin: 0px;
  height: 24px;
  position: static;
}

.footer-cowork-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 24px;
}

.footer-email input {
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 12px;
  background: rgb(29, 30, 28);
  border-width: 0px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.footer-cowork-info input::placeholder {
  height: 21px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.footer-cowork-info p {
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0%;
  text-align: left;
}

.footer-email {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.footer-info {
  padding-left: 128px;
  display: flex;
  gap: 80px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px; 
}

.info-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 16px;
}

.footer-tag {
  font-size: 12px;
  font-weight: 100;
  line-height: 150%;
  letter-spacing: 0%;
  height: 18px;
  text-transform: uppercase;
}

.info-content ul {
  padding-inline-start: 0px;
  margin: 0px;
}

.info-content ul li {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 0px;
  height: 26px;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0%;
}  
  
.footer-cowork-info input::placeholder {
  height: 21px;
  max-width: 100%;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}
  
.footer-cowork-info p {
  text-align: center;
}

@media (max-width: 768px) {
  footer {
    max-width: 412px;
    padding: 32px 20px;
  }
  .footer-upper {
    display: flex;
    padding: 48px;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .footer-cowork {
    max-width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
  .footer-cowork h1 {
    margin-bottom: 32px;
    position: static;
  }
  .footer-email {
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
  }
  .footer-email input {
    padding: 12px;
    height: 21px;
    border-width: 0px;
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  .subscribe-button {
    padding: 12px 24px;
    margin-top: 16px;
    margin-right: 0px;
  }
  .footer-info {
    padding-left: 0px;
    display: flex;
    gap: 80px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px; 
  }
}

/* made by */
.madeby {
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 400;
  line-height: 150%;
  font-size: 14px;
}

.madeby-policy {
  height: 21px;
  padding-bottom: 5px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  text-decoration-line: underline;
}

.madeby-policy p {
  margin: 0px;
}