body {
  
  max-width: 768px;
  margin: 0 auto;
}

.top-nav {
  
  padding : 64px;
  
  display :flex;
  justify-content:space-between;
  
}
.top-nav h2{
  font-size:30px;
  font-weight:600;
}

.hi{
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  gap:48px;
}
.hi ul{
  display:flex;
  flex-direction: row;
  gap:48px;

}

button {
  padding: 12px 24px;
  border: 1px solid black; 
  border-radius: 100px; 
  font-size: 14px;
  cursor: pointer;
  margin-right: 10px;
  outline: none; 
  transition: all 0.3s ease; 
}

.login-button {
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

.signup-button {
  background-color: #000;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);}


/* ------- 헤더 -----  */

header {
  padding-top: 112px;
  padding-bottom: 112px;
  padding-left:64px;
  padding-right:64px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  
}

.header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap:48px;
}

header img{
  width:550px;
  height:550px;
  display:flex;
  justify-content: row;
}
header h1 {
  color: #42446e;
  font-size: 58px;
  font-style: normal;
  font-weight: 700;
  line-height: 70px; /* 120.69% */
  letter-spacing: -1px;
}

.claim-button{
  background-color: #000;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


header h1 span {
  /* 글씨에 그라데이션 주는 효과 */
  background: linear-gradient(120deg, #13b0f5 -2.06%, #e35ef7 100%);
  background-clip: text;
  color: transparent; /* 글자 색을 투명하게 */
}

/* ------- 기술 스택 섹션 ----- */

.section-text {
  padding-bottom: 80px;
}
.section-text h2 {
  color: #42446e;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 50px;
}
.section-text p {
  color: #666;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
}

.tech-stacks {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}
.tech-stacks img {
  width:200px;
  

}
.tech-stacks li {
  text-align: center;
}

#tech-stack {
  padding-bottom: 300px;
}
/* ------- 프로젝트 섹션 ----- */
#insights {
  padding: 112px 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insights-upper {
  display: flex;
  padding-bottom: 80px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.insights-upper p {
  margin: 0px;
  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 100;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.insights-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

.insights-big {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.insights-big div {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.insights-big p {
  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: center;
}

.insights-big img {
  border-radius: 48px;
  background: url(),url();
}

.insights-long {
  width: 520px;
  height: 51px;
  padding-top: 24px;
  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0%;
  text-align: center;
}

/* insights-bottom */
.insights-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.insights-items {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.insights-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.article-img {
  border-radius: 24px;
  background: url();
}

.article-head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.article-head p {
  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: left;
  margin: 0px;
}

.article-class {
  display: flex;
  padding: 0px;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.article-class .p1 {
  height: 21px;
  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 100;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  padding: 4px 8px 4px 8px;
  margin: 0px;

  border-radius: 8px;
}

.first {
  background: rgb(166, 232, 246);
}

.second {
  background: rgb(252, 190, 220);
}

.third {
  background: rgb(211, 249, 133);
}

.article-class .p2 {
  height: 26px;
  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 14px;  
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0%;
  text-align: left;
  margin: 0px;
}

.read-more {
  display: flex;
  gap: 8px;
  align-items: center;
}

.read-more p {
  height: 21px; 
  margin: 0px;
  color: rgb(29, 30, 28);
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.read-more img {
  width: 24px;
  height: 24px;
}

.insights-bottom button {
  margin-top: 64px;
}

/* ---- footer ---- */
footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  justify-content: center;
  padding: 64px;
}

/* footer-upper */
.footer-upper {
  padding: 48px;
  display: flex;
  justify-content: space-between;
  border-radius: 48px;          /* 모서리 둥글게 */
  background: rgb(29, 30, 28);/* 배경은 검정색 */
  color: rgb(255, 255, 255);  /* 글자색 지정 */
}

.footer-cowork {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32;
}

.footer-cowork h1 {
  margin: 0px;
  height: 24px;
  position: static;
}

.footer-cowork-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-cowork-info input {
  color: rgb(255, 255, 255);
  width: 100%;
  padding: 12px;
  background: rgb(29, 30, 28);
  border-width: 0px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.footer-cowork-info input::placeholder {
  height: 21px;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
}

.footer-cowork-info p {
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0%;
  text-align: left;
}

.footer-email {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.footer-info {
  padding-left: 128px;
  display: flex;
  gap: 80px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px; 
}

.info-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 16px;
}

.footer-tag {
  font-size: 12px;
  font-weight: 100;
  line-height: 150%;
  letter-spacing: 0%;
  height: 18px;
  text-transform: uppercase;
}

.info-content ul {
  padding-inline-start: 0px;
  margin: 0px;
}

.info-content ul li {
  margin-top: 8px;
  margin-bottom: 8px;
  padding-left: 0px;
  height: 26px;
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0%;
}


/* made by */
.madeby {
  height: 26px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 400;
  line-height: 150%;
  font-size: 14px;
}

.madeby-policy {
  height: 21px;
  padding-bottom: 5px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  text-decoration-line: underline;
}

.madeby-policy p {
  margin: 0px;
}